.styleProject {
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
}

.btn {
  padding: 5px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.button {
  /* Ellipse 103 */

  box-sizing: border-box;

  position: absolute;
  width: 34px;
  height: 34px;
  left: 1825px;
  top: 325px;

  border: 1px solid #002046;

}

.vector {
  padding-right: 10px;
  padding-left: 10px;
}

.title {
  padding-right: 50%;
}

.titleFinish {
  padding-right: 20%;

}

.styleProject {
  border-radius: 15px;
}

.filters {
  width: 100%
}
.filter
{
  margin-right: 3px;
  width: 10%;
}
#buttonClear{
  padding-right: 38%;
  border-radius: 20px;
}
